:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

.navlinks {
  /* background-color: var(--color-brand--1); */
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 18px;
  border-radius: 5px;
}

.button {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 22px;
}
